<div class="footer" id="footer">
 <div class="container">
     <div class="footer__form">
         <form id="form" action="#" class="form">
             <h1 class="form__title">Calculate the timing and cost of your project</h1>
             <p class="form__subtitle">Leave your phone number for communication</p>
             <div class="form__items">
                 <input class="form__input input _rq" name="name" type="text" placeholder="Name">
                 <input class="form__input input phone__input _rq-tel" name="phone" type="tel" placeholder="Phone">
                 <textarea class="form__input input form__textarea _rq" name="message" placeholder="Message"></textarea>
             </div>
             <button id="form__btn" class="form__btn link-btn" type="submit">Discuss the project</button>

         </form>

     </div>
 </div>
</div>