<form class="modal">
    <div class="modal__overlay">
        <div class="modal__body">
            <img class="modal__close modal-btn" src="assets/img/vector/close.svg" alt="">
            <div class="modal__header">
                <p class="modal__title">Сontact me:</p>
            </div>
            <div class="modal__main">
                <input class="modal__content modal__input input" name="name" type="text" placeholder="Name">
                <textarea class="modal__content modal__textarea input" name="message" id="" cols="30" rows="3"
                          placeholder="Message"></textarea>
            </div>
            <div class="modal__footer">
                <button class="modal__btn modal-btn" type="submit">Discuss the project</button>
            </div>
        </div>
    </div>
</form>